<!-- card -->
<div class="cards">
    <!-- card1 -->
    <mat-card>
        <app-card bg="orange" icon="person" description="student" count=2000></app-card>
      </mat-card>
      <!-- card2 -->
      <mat-card>
        <app-card bg="red" icon="home" description="instistution" count=5000></app-card>
      </mat-card>
      <!-- card3 -->
      <mat-card>
        <app-card bg="green" icon="groups" description="employees" count=1000></app-card>
      </mat-card>
      <!-- card4 -->
      <mat-card>
        <app-card bg="blue" icon="dashboard" description="placements" count=1500></app-card>
      </mat-card>
   
</div>
<!-- are chart -->
<div class="area">
    <app-area></app-area>
</div>
<!-- table and pie chart -->
<div class="tablepie">
    <!-- table -->
    <div>
        <app-table></app-table>

    </div>
    <!-- pie chart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>